.channel-wrapper {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid var(--clr-bg-offset);
  margin: 1.5rem;
  background-color: var(--clr-bg-content);
}

.link-wrapper {
  margin-top: 0.25rem;
  border-radius: 5px;
  background-color: var(--clr-bg-offset);
  width: max-content;
  padding: 0.25rem;
  color: var(--clr-font-main);
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.link-wrapper:hover {
  background-color: var(--clr-main-offset);
  color: var(--clr-font-main);
}

.link-wrapper:active {
  padding: 0.15rem;
  margin: 0.1rem;
}
